<?xml version="1.0"?>

<launch>

    <include file="$(find voxblox_skeleton_planner)/launch/ntr_voxblox_node.launch" />

    <include file="$(find voxblox_skeleton)/launch/ntr_skeletonize_map.launch" />

    <include file="$(find voxblox_skeleton_planner)/launch/ntr_skeleton_planner.launch" />

</launch>
